html {
/*    height: 100%;*/
}
body {
    margin: 0px;
/*    height: 100%;*/
/*    overflow: hidden;*/
}

.nav {
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    font-size: 24px;
    text-align: center;
/*    background-color: #25a3ef;*/
    color: white;
    height: 60px;
    border-top: solid 2px #EF7125;
    border-bottom: solid 2px #EF7125;
}

.headings {
    line-height: 60px;
}


.chats-heading {
    width: 23%;
    float: left;
    background-color: #EF7125;
}

.conversation-heading {
    width: 62%;
    float: left;
/*    color: #25a3ef;*/
    color: #EF7125;
}

.user-list-heading {
    width: 15%;
    float: right;
    background-color: #EF7125;
}

.content {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 18px;
}

.chats {
    width: 23%;
    float: left;
    background-color: #fdf0e9;
}

.chat {
    padding: 10px;
    border-bottom: solid 2px #fbe2d3;
}

.chat-person {
    float: left;
}

.chat-date {
    float: right;
}

.chat-piece {
    margin-top: 10px;   
}

.chat-latest {
/*    float: left;*/
    line-height: 28px;
}

.chat-count {
    float: right;
    background-color: #EF7125;
    width: 14px;
    height: 14px;
    padding: 7px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    text-align: center;
    color: white;
    font-size: 11px;
}

.conversation {
    width: 62%;
    float: left;
}

.reply-box {
    height: 80px;
    background-color: #EF7125;
}

.reply {
    height: 22px;
    font-size:  18px;
    margin: 18px 15px;
    padding: 10px 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    outline: none;
    border-color: white;
    resize: none;
}

.user-list {
    width: 15%;
    float: right;
    background-color: #fdf0e9;
    text-align: center;
}

.user {
    
}

.online {
    width: 10px;
    height: 10px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    background-color: #EF7125;
    display: inline-block;
    margin-left: 30px;
    margin-top: 6px;
    float: left;
}

.user-name {
/*    float: right;*/
    margin-right: 40px;
}
