html {
/*    height: 100%;*/
}
body {
    margin: 0px;
/*    height: 100%;*/
}

.nav {
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    font-size: 24px;
    text-align: center;
/*    background-color: #25a3ef;*/
    color: white;
    height: 60px;
    border-top: solid 2px #EF7125;
    border-bottom: solid 2px #EF7125;
}

.headings {
    line-height: 60px;
}


.chats-heading {
    width: 23%;
    float: left;
    background-color: #EF7125;
}

.conversation-heading {
    width: 62%;
    float: left;
/*    color: #25a3ef;*/
    color: #EF7125;
}

.user-list-heading {
    width: 15%;
    float: right;
    background-color: #EF7125;
}

.content {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
}

.chats {
    width: 23%;
    float: left;
    background-color: #fdf0e9;
}

.conversation {
    width: 62%;
    float: left;
}

.user-list {
    width: 15%;
    float: right;
    background-color: #fdf0e9;
    text-align: center;
}